@font-face {
  font-family: "iconfont"; /* Project id 3317322 */
  src: url('fonts/iconfont.woff2?t=1650446108007') format('woff2'),
       url('fonts/iconfont.woff?t=1650446108007') format('woff'),
       url('fonts/iconfont.ttf?t=1650446108007') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-price1:before {
  content: "\e60f";
}

.icon-QUEST_NAME:before {
  content: "\ea45";
}

.icon-star-fill:before {
  content: "\e86a";
}

.icon-arrow-down:before {
  content: "\e7b2";
}

.icon-search:before {
  content: "\e648";
}

.icon-leftarrow:before {
  content: "\e755";
}

.icon-Rightarrow:before {
  content: "\e761";
}

.icon-datetimepickerbt_back:before {
  content: "\e6ba";
}

.icon-meishi:before {
  content: "\e8f8";
}

.icon-anmo:before {
  content: "\e63b";
}

.icon-introduction:before {
  content: "\e85b";
}

.icon-positioning:before {
  content: "\e62c";
}

.icon-name:before {
  content: "\e74c";
}

.icon-service:before {
  content: "\e727";
}

.icon-recommend:before {
  content: "\e728";
}

.icon-error:before {
  content: "\e6b1";
}

.icon-info:before {
  content: "\e6de";
}

.icon-haoping:before {
  content: "\e8d8";
}

.icon-jingdian:before {
  content: "\e88f";
}

.icon-tishi2:before {
  content: "\e691";
}

.icon-ktvtianchong:before {
  content: "\e6a8";
}

.icon-hotel:before {
  content: "\e636";
}

.icon-smile:before {
  content: "\e67e";
}

.icon-user:before {
  content: "\e63e";
}

.icon-star:before {
  content: "\e7df";
}

